.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imp{
    display: flex;
}
.admin_navbar{
    display: flex;
    justify-content: space-between;
}
.left_admin_navbar{
    display: flex;
}
.home_page{
    display: flex;
}